<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Ficha Virtual</title>
</head>

<body>
    <div class="navbar">
        <a class="image-link" href="/profile">
            <img class="profile-image"
                src="https://cdn.discordapp.com/attachments/890557408114520095/1004573933070192671/unknown.png">
        </a>
        <div class="right-navbar">
            <div class="sidebar-button" id="sidebarButton" onclick="sidebarToggle()">
                <div class="top-bar"></div>
                <div class="mid-bar"></div>
                <div class="bottom-bar"></div>
            </div>
        </div>
    </div>
    {{#with user}}
    <script>console.log({{user}})</script>
    <div class="sidebar" id="sidebar">
        <h3>Usuário: {{user}}</h3>
    </div>
    {{/with}}
    <div class="main-div">
        <div class="items">
            {{#each itens.comidas}}
            <div class="item">
                <div class="item-info">
                    <h3>{{nome}}</h3>
                    <p>{{preço}}</p>
                </div>
                <div class="item-image">
                    <img src="{{imagem}}" class="image">
                </div>
            </div>
            {{/each}}
        </div>
        <div class="items">
            {{#each itens.bebidas}}
            <div class="item">
                <div class="item-info">
                    <h3>{{nome}}</h3>
                    <p>{{preço}}</p>
                </div>
                <div class="item-image">
                    <img src="{{imagem}}" class="image">
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>


<style>
    
</style>

<script>
    var isOpen = false;
    var sidebarButton = document.getElementById("sidebarButton");
    var sidebar = document.getElementById("sidebar");
    function sidebarToggle() {
        console.log("teste");
        if (isOpen) {
            sidebar.animate([{
                transform: 'translateX(-70vw)'
            }, {
                transform: 'translateX(0)'
            }], {
                duration: 1000,
                iterations: 1,
                direction: 'normal',
                fill: 'forwards',
                easing: 'ease-in-out'
            });
            sidebarButton.style.backgroundColor = "#022341";
            isOpen = false;
        } else {
            sidebar.animate([{
                transform: 'translateX(-70vw)'
            }, {
                transform: 'translateX(0)'
            }], {
                duration: 1000,
                iterations: 1,
                direction: 'reverse',
                fill: 'forwards',
                easing: 'ease-in-out'
            });
            sidebarButton.style.backgroundColor = "#011527";
            isOpen = true;
        }
    }
</script>

</html>